footer {
  padding-bottom: 30px; /* Adds space below footer */
  text-align: center;
}

.footer-links {
  margin-top: 10px;        /* Space between copyright and links */
  display: flex;
  justify-content: center;
  gap: 20px;               /* Space between each link */
}
@media (max-width: 767px){
  .footer-links > :nth-child(1) {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}